.git
.gitignore

node_modules
**/node_modules
**/.next
**/.next-build
**/.venv
**/.pytest_cache
**/__pycache__
**/*.pyc
**/debug
**/fastembed_cache
**/chroma
.cache
app_data

servers/fastapi/tests
servers/fastapi/presenton_backend.egg-info
servers/fastapi/.python-version
servers/fastapi/placeholder
servers/fastapi/tmp
servers/fastapi/debug
servers/fastapi/.venv
servers/fastapi/.coverage

servers/nextjs/cypress
servers/nextjs/cypress.config.ts
servers/nextjs/README.md
servers/nextjs/tsconfig.tsbuildinfo
servers/nextjs/node_modules
servers/nextjs/.next
**/*.cy.ts
**/*.cy.tsx

container.db
